body {
  font-family: 'Open Sans';
  background: url(images/background_image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

ul > li{
  list-style: none;
}

a {
  color: #44AAEE;
}


#left {
  width: 35%;
  float: left;
  min-height: 600px;
}

#right {
  width: 60%;
  float: right;
  min-height: 600px;
}

#wrapper {
    margin-top: 50px;
    padding: 20px;
    width: 1000px;
    margin: 70px auto;
    border-radius: 2px;
    background: rgba(175, 175, 175, 0.3);
}

.card {
  background-color : #f7f7f7;
  text-align : center;
/*  box-shadow: 2px 2px 3px #d2d1d1 ;
*/  padding : 20px 20px;
  margin: 20px auto ;
  border-radius: 3px
}

.rounded-img {
  border-radius: 50%;
}

.social_links {
  padding-left: 0;
}


.social_links > li {
  display: inline-block;
}

.social_links a {
  padding: 5px 30px;
}

.img_logo {
  width: 50px;
}

.img_cover {
  width: 70px;
}


.life_description {
  margin: 30px 10px 30px 10px;
  text-align: left;
  border-collapse:separate;
  border-spacing:2em;
}

#pedobear {
  background: none;
  text-align: center;
}

.sponsors {
  width: 200px;
}

#footer {
  padding: 10px;
  text-align: center;
  background: #FFFFFF;
}

.icone_md {
  font-size: 3em;
}

.heart {
  color : red;
  font-size: 2em;
}

.heart:hover {
  color : #6940D6;
  font-size: 2em;
}

.clear {
  clear: both;
}
