body {
  font-family: 'Open Sans';
  background: url(images/background_image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

ul > li{
  list-style: none;
}

a {
  color: #44AAEE;
}

.container {
  width : 700;
}

.card {
  background-color : #f7f7f7;
  text-align : center;
  box-shadow: 2px 2px 3px #d2d1d1 ;
  padding : 20px 10px;
  margin: 50px auto ;
}

.rounded-img {
  border-radius: 50%;
}

.social_links {
  padding-left: 0;
}


.social_links > li {
  display: inline-block;
  font-size: 3em;
}

.social_links a {
  padding: 5px 10px;
}

.img_logo {
  width: 50px;
}

.img_cover {
  width: 70px;
}


.life_description {
  margin: 30px 10px 30px 10px;
  text-align: center;
  border-collapse:separate;
  border-spacing:2em;
}

.approved {
  position : fixed;
  bottom : 10px;
  right : 10px;
  width: 200px;
}
